@model IEnumerable<GameListViewModel>

@{
    ViewBag.Title = "All Games";
}


<h2 class="text-center text-white">@ViewBag.Title</h2>
<hr />

<body background="https://www.ikea.com/images/9a/b6/9ab603e7ab8c6dba592e806504003d84.jpg?f=s">
</body>

<div class="text-center row">
    @foreach (var game in Model)
    {
        <div class="card col-4" style="width: 20rem;">
            <img class="card-img-top" style="width: 18rem;"
             src="@game.ImageUrl" alt="Game Image">
            <div class="card-body">

                <h5 class="card-title mt-1">@game.GameName</h5>
                <p class="mb-0">Developer: @game.Developer</p>
                <p class="mb-0">Publisher: @game.Publisher</p>
                <p class="mb-0">Rating: @game.Rating</p>
                <p>Genre: @game.Genre</p>
                <p class="mb-0">Description: @game.Description</p>
                <p class="mb-0">ReleaseDate: @game.ReleaseDate</p>
                <p class="mb-0">FirstWeekSales: @game.FirstWeekSales</p>
                <p class="mb-0">Price: @game.Price</p>
                <p class="mb-0">DiscountPrice: @game.DiscountPrice</p>
            </div>

            <form class="input-group-sm" asp-route-gameId="@game.Id" asp-controller="Games" asp-action="AddToCollection" method="post">
                <input type="submit" value="Add to my cart" class="fs-6 btn btn-success mb-3 p-2" />
            </form>
        </div>
    }
</div>
