@using WebProject.Models.HealthProductViewModel
@model HealthProductListViewModel

@{
    ViewBag.Title = "Health product details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<body background="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWoY9TpSx88HqnbRAqMnQCq08pSvv5MLNFmg&usqp=CAU">
</body>

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 25rem;"
                 src="@Model.ImageUrl" alt="Health product Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Name</u></p>
            <p>
                Price:
                <b>@String.Format("{0:f2}", Model.Price) BGN</b>
                Discount Price:
                <b>@String.Format("{0:f2}", Model.DiscountPrice) BGN</b>
            </p>
            <p>@Model.Description</p>
            <div class="form-inline">
            </div>
            <p></p>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Additional Info</h5>
                    <p class="card-text">Rating:  @Model.Rating</p>
                    <p class="card-text">AvailableFrom:  @Model.AvailableFrom</p>
                </div>
            </div>
        </div>
    </div>
</div>