@using WebProject.Models.GamingProductViewModel
@model IEnumerable<ProductListViewModel>

@{
    ViewBag.Title = "My Cart/Products";
}

<h2 class="text-center text-white">@ViewBag.Title</h2>
<hr />

<body background="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWoY9TpSx88HqnbRAqMnQCq08pSvv5MLNFmg&usqp=CAU">
</body>

<div class="text-center row">
    @foreach (var product in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <img class="card-img-top" style="width: 18rem;"
             src="@product.ImageUrl" alt="Product Image">
            <div class="card-body">

                <h5 class="card-title mt-1">@product.Name</h5>
                <p class="mb-0">Company: @product.Company</p>
                <p class="mb-0">Description: @product.Description</p>
                <p class="mb-0">AvailableFrom: @product.AvailableFrom</p>
                <p class="mb-0">Sales: @product.Sales</p>
                <p class="mb-0">Price: @product.Price</p>
                <p class="mb-0">DiscountPrice: @product.DiscountPrice</p>
            </div>

            <form class="input-group-sm" asp-route-productId="@product.Id" asp-controller="Products" asp-action="MyCartDetails" method="post">
                <input type="submit" value="Details" class="fs-6 btn btn-success mb-3 p-2" />
            </form>
            <form class="input-group-sm" asp-route-productId="@product.Id" asp-controller="Products" asp-action="RemoveFromMyCollection" method="post">
                <input class="fs-6 btn btn-success mb-3 p-2" type="submit" value="Remove from my cart" />
            </form>
        </div>
    }
</div>
